header {
    padding: 1em 3em 1em 3em;
    background-color: lightblue;
}

.container {
    width: 80%;
    margin: auto;
   
}

h1, .form {
    text-align: center;
}

.accordion {
    margin: auto;
}

.divider {
    padding: 1em;
}

.form {
    margin-bottom: 3em;
}