/* index.html + general */
header {
  padding: 1em 3em 1em 3em;
  background-color: #d7f4fa;
  margin-bottom: 2em;
}

#sign-up-btn {
  font-family: "Baloo", cursive;
}

#user-sign-up-title {
  padding: 1em;
  background-color: #fecc67;
  color: white;
}

#pop-up-label {
  padding: 0.5em;
}
#popup-input {
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 1em;
  font-size: 1em;
  border-color: (34, 36, 38, 0.15);
  border-radius: 0.5em;
}

#title {
  color: #fecc67;
  font-family: "Baloo", cursive;
}

.container {
  width: 80%;
  margin: auto;
}

h1,
.form {
  text-align: center;
}

h1 {
  font-size: 5em;
  margin-bottom: 0.7em;
}

#topDivider {
  border-top-color: #ffaa39;
}

#searchForm {
  width: 60%;
  margin: auto;
}

#labelquestion {
  padding: auto;
  font-size: 1.1em;
  margin-bottom: 1em;
}

#btn {
  margin-top: 1.85em;
  height: 2.7em;
  background-color: #fecc67;
  font-family: "Baloo", cursive;
}

.accordion {
  margin: auto;
  font-size: 2em;
}

#countryphotos {
  margin-top: 0.5em;
}

.divider {
  padding: 1em;
}

.form {
  margin-bottom: 3em;
}

#listbtncontainer {
  text-align: center;
}

#createlistbtn {
  margin-top: 1em;
}

#platypus {
  float: right;
}

footer {
  padding: 10px 0;
  clear: both;
  font-size: 16px;
  color: grey;
  text-align: center;
  height: 50px;
  position: relative;
}

#bottomDivider {
  border-top: 0px;
  border-bottom-color: #ffaa39;
  margin-top: 40em;
}

/* travel-list.html */
#addButton {
  margin-top: 1em;
}

/* about.html main section */
#AboutTitle {
  color: #fecc67;
  font-family: "Baloo", cursive;
  font-size: 2em;
  margin-top: 1em;
  text-align: center;
}

#AboutHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-div {
  padding: 10px 0px 10px 45px;
}

@media only screen and (max-width: 767px) {
  #about-div > * {
    padding: 0px 0px 0px 25px;
  }
}

#aboutP {
  font-size: 1.5em;
}

#aboutPcredits {
  font-size: 1.5em;
}

.auth-image {
  width: 170px;
  text-align: center;
  height: auto;
  margin-right: 25px;
  margin-left: 2em;
}

.clearfix {
  float: none;
  clear: both;
}

.main-section {
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 0 0 40px;
  background: #fff;
  border: 1px solid #ddd;
}

/* about.html cards */
.card {
  margin-left: auto;
  margin-right: auto;
}

#AJimg,
#PKimg,
#LCimg,
#RCimg {
  height: 300px;
}

.cards {
  justify-content: center;
}

.card {
  width: 210px !important;
}

/* about.html contact section */
#AboutContactTitle {
  color: #fecc67;
  font-family: "Baloo", cursive;
  margin: 0.3em 0em 1em 1.5em;
}

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

#contact,
#name,
input[type="email"],
textarea {
  display: block;
  width: 100%;
}

#name,
input[type="email"],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 150px;
}

#Aboutbtn {
  margin-bottom: 2em;
  margin-left: 3em;
  height: 2.7em;
  background-color: #fecc67;
  font-family: "Baloo", cursive;
}

/* about.html footer */
#about-bottom-divider {
  border-top: 0px;
  border-bottom-color: #ffaa39;
}
